
.data {

	border: 1px solid black;
	padding-right : 15px;
	padding-left : 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-spacing:0;
	border-collapse: collapse;
} 

#game {
	margin-left: auto;
	margin-right: auto;
}

.wrapper {
	display: grid;
	grid-template-columns: 600px 200px;
	grid-gap: 5px;
}

#field {
	display: grid;
	/*background-color: #78ab8e; */
	height: 600px;
	width: 600px;

	background-image: url('../assets/grass-block-small.png');
	background-repeat: repeat;
}

#dashboard {
	color: white;
}

#command {
	margin-left: 20px;
	border : 1px white solid;
	border-radius: 5px;
	margin-bottom: 20px;
	color: white;
	font-size: 80%;
	padding-left: 10px;
	padding-bottom: 250px;
}

#move {
	margin-left: 20px;
	margin-top: 75px;
}

#player1_status, #player2_status {
	margin-left: 20px;
	border : 1px white solid;
	border-radius: 5px;
	margin-bottom: 20px;
	color: white;
	font-size: 80%;
	padding-left: 10px;
	padding-bottom: 15px;
}

.active_status {
	background-color: blue;
}

.grass {
	/*background-color: #78ab8e; */
}

.stone {
	background-color: grey;
}

.weapon {
	background-color: yellow;
}

.player1 {
	background-color: blue;
}

.activePlayer {
	border: 1px white solid;
}

.player2 {
	background-color: red;
}

.boulder_img {
	width: 57px;
	margin-top: -9px;
	margin-left: -14px;
}

.sword_img {
	width: 45px;
	margin-top: -7px;
	margin-left: -9px;
}

.spear_img {
	margin-left: -15px;
	margin-top: -13px;
}

.hammer_img {
	width: 60px;
	margin-left: -10px;
	margin-top: -15px;
}

.player1_img{
	width:70px;
	margin-left: -19px;
	margin-top: -23px;
}

.player2_img {
	width: 68px;
	margin-left: -16px;
	margin-top: -22px;
}