
.data {

	border: 1px solid black;
	padding-right : 15px;
	padding-left : 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-spacing:0;
	border-collapse: collapse;


} 

#game {
	display: grid;
	background-color : pink;
	
}

#field {
	display: grid;
	background-color: #fff;
	color: #444;
}

.grass {
	background-color: green;
}

.stone {
	background-color: grey;
}

.weapon {
	background-color: yellow;
}

.player1 {
	background-color: blue;
}

.player2 {
	background-color: red;
}
